 body {
      background-color: whitesmoke;
      //background-image: url("https://example.com/ugly-background.jpg"); /* Replace with your own ugly background image URL */
      background-size: cover;
      background-repeat: repeat;
      background-position: center;
      font-family:Monomaniac One, sans-serif;

    }

h1 {text-align: center; margin-top:40px; font-size: 60px;}

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60vh;
      padding:20px;

    }

    .container div {
      border: 0px solid hotpink;
      margin: 20px;
      background-color: cyan;
      flex: 1;
       height: 400px; 
      
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;

    }

    .gif {
      display: block;
      margin: auto;
      min-width: 100%;
      min-height:100%;


      
      object-fit: cover;
      overflow: hidden;
    }

/* make a button in a container floating in the middle of the page */

    .spin-button {
      background-color: yellow;
      color: purple;
      font-size: 34px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
 
          -ms-transform: translateY(-50%);
  transform: translateY(-50%);
      margin:0 auto;
      animation: blink 1s infinite;
      font-family:Monomaniac One, sans-serif;
    }

    @keyframes blink {
      0%, 50% {
        opacity: 1;
      }
      51%, 100% {
        opacity: 0.3;
      }
    }

    .button-container {
      margin-top: 0px;
      text-align: center;
    }